@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel
@{ this.ViewData["Title"] = "Home Page"; }

@section Styles{
    <link href="~/css/HighChart/index.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    <hr />
    <div class="col-md-4 container text-center">
        <p>Сайтът съдържа:</p>
        <ul>
            <li class="list-group-item bg-info">Рецепти: @Model.RecipesCount</li>
            <li class="list-group-item bg-light">Категории: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Снимки: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Подправки: @Model.IngredientsCount</li>
        </ul>
    </div>

    <hr />

    <div class="col-md-12">
        <div class="row">
            @foreach (var recipe in this.Model.RandomRecipes)
            {
<div class="card col-md-6">
    <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Name">
    <div class="card-body">
        <h5 class="card-title">@recipe.Name</h5>
        <p class="card-text">@recipe.CategoryName</p>
        <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Отвори</a>
    </div>
</div>}
        </div>
    </div>
</div>


