@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@section Styles{ 
    <link href="~/css/HighChart/index.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
        <p>Сайтът съдържа:</p>
        <ul>
            <li class="list-group-item bg-info">Рецепти: @Model.RecipesCount</li>
            <li class="list-group-item bg-light">Категории: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Снимки: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Подправки: @Model.IngredientsCount</li>
        </ul>
    </div>
</div>


